:local(.GameBoard) {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  border: solid 0 #fecaff;
  border-right-width: 0.05em;
  border-bottom-width: 0.05em;

  & > .Row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    & > .Space {
      &.Highlighted {
        background-color: #a4ffc9;
      }
    }
  }
}
