:local(.Othello) {

}

:local(.PlayerPiece) {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  box-sizing: border-box;
}

:local(.Player_1) {
  border: solid 0.15em #ff00ff;
}

:local(.Player_2) {
  background-color: #ff00ff;
}
